body {
    background-color: #161516;
    color: white;
    font-family: "Rubik";
    margin: 0 auto;
}
.visually-hidden{
    visibility: hidden;  
    display: none; 
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    max-width: 1501px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 50px;
}
.header__logo-wrapper{
    display: flex;
    height: 50px;
}
.header__nav-list{
    display: flex;
    font-size: 18px;
}
.header__nav-item:not(:last-child){
    margin-right: 50px;
}
.header__logo-description{
    font-size: 22px;
    line-height: 25,3px;
    margin: 0px;
    margin-left: 10px;
}
.intro{
    max-width: 1501px;
    margin: 0 auto;
    height: calc(100vh - 87.5px);
    display: flex;
    align-items: center;
    padding: 0px 50px;

}
.intro__title{
    max-width: 900px;
    font-size: 60px;
    font-weight: normal;
    line-height: 78px;
    margin: 0px;
    text-transform: uppercase;
}
.intro__subtitle{
    margin: 0px;
    max-width: 778px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}
.header__toggle{
     display: none;
     align-items: center;
	 justify-content: center;
     background: none;
     border: none;
     flex-direction: column;
     cursor: pointer;
     width: 35px;
 } 
 .header__logo-close{
     margin-bottom: 10px;
 }
 .header__toggle-close span:first-of-type{
     transform: rotate(405deg);
     top: 66px;
 }
 .header__toggle-close span:last-of-type{
    transform: rotate(-405deg);
    
 }
 .header__toggle span{
    position: absolute;
    display: block;
    transition: all 0.6s;
 }
 .header__toggle-close span{
     position: absolute;
     display: block;
     transition: all 0.8s;
 }
 
 .stick-up{
     background-color: white;
     width: 35px;
     height: 1px;
     margin-bottom: 15px;
     
 }
 .stick-bottom{
    background-color: white;
    width: 35px;
    height: 1px;
    margin-top: 15px;
 }
 .container{
     width: 100%;
 }
.intro__container-subtitle{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.paw{
    margin-top: 28px;
}
@media (max-width: 1240px){
    .header{
        max-width: 940px;
    }
    .intro{
        max-width: 940px;
    }
    .intro__title{
        font-size: 55px;
        line-height: 130%;
        max-width: 800px;
    }
    .intro__subtitle{
        font-size: 18px;
        line-height: 150%;
        max-width: 696px;
    }
    .paw{
        margin-top: 48px;
    }
}
@media (max-width: 980px) {
        .header{
            max-width: 620px;
            padding: 0px 20px;
        }
        .intro{
            max-width: 620px;
            padding: 0px 20px;
        }
        .intro__title{
            font-size: 39px;
            line-height: 130%;
            max-width: 620px;
        }
        .intro__subtitle{
            max-width: 616px;
            font-size: 15px;
            line-height: 150%;
        }
        .header__nav{
            display: none;
        }
        .header__toggle{
            display: flex;
            margin-top: 14px;
        } 
        .intro__container-subtitle{
            flex-direction: column;
            align-items: flex-end;
        }
        .paw{
            margin-top: 120px;
        }
}